container {display: block; font-family: 'Noto Sans', sans-serif;}

header{display: block; height: 76px; width: 1570px; margin : 0 auto; border: 1px solid red;}
header .logo {float: left; margin: 14px 0 0 60px;}
header .logo > a{ height: 47px; width: 254px;}
header .logo > a > span{ font-size: 1em; }
header .menu_name {float: right;}